.footer {
  position: relative;
  width: 100%;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;

  border-top: 1px solid
    color-mix(in srgb, var(--primary-color), transparent 70%);

  font-size: 0.85rem;
  font-weight: 500;

  color: var(--primary-color);

  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  width: 100vw;
}
