.footer {
  position: relative;
  width: 100%;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  border-top: 1px solid rgba(249, 115, 22, 0.3);

  font-size: 0.85rem;
  font-weight: 500;
  color: #f97316;
}

.footer {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  width: 100vw;
}
